@media only screen and (max-device-width: 1000px) {
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  :root {
    --vh: 1vh;
  }
  .iface-main-container {
    top: calc(var(--vh) * 93);
    width: 89vw;
    height: auto;
    justify-content: center;
    flex-direction: row;
  }
  .divider {
    display: none;
  }
  .iface-group-container {
    flex-direction: row;
  }
  .hovering-form {
    left: 0;
  }
  .manager-window {
    width: 93%;
    padding: 0 10px;
    top: calc(var(--vh) * -54);
  }
  .ambient-container {
    gap: 14px;
  }
  .input-range-big {
    width: 180px!important;
  }

  }